.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-top: 1px solid #c2c2c2;
}
@media (min-width: 992px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0.7rem 5rem;
    margin-bottom: 0rem;
    border-top: 1px solid rgb(199, 199, 199);
  }
}
.containerIcons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.textFooter {
  color: #50535a;
  font-size: 1rem;
  display: inline-flex;
}
@media (min-width: 992px) {
  .textFooter {
    margin: 0;
  }
  .containerIcons {
    margin-top: 0;
  }
}
.textFooter span {
  font-weight: 900;
}
.containerInputButton {
  position: relative;
  margin-bottom: 1rem;
}
.imgLogoFooter {
  width: 1.8rem;
  height: 1.4rem;
  margin-bottom: 0.3rem;
  margin-right: -0.1rem;
}
